@page "{idPaciente:int}"
@model HospiEnCasa.App.Presentacion.Pages.Medicos.AsignaMedico1Model
@{
    ViewData["Title"] = "Médicos Habilitados";
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
    <!-- Start Submenu vertical -->
    <aside class="col-lg-2 pt-5 ps-3 bg-light">
        <div class="container">
            <nav id="nav-second" class="navbar navbar-light bg-light">
                <ul class="nav flex-lg-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Medicos/Medico">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" asp-area="" asp-page="/Medicos/NuevoMedico">Registrar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- End Submenu vertical -->
    <!-- Start Main section -->
    <main class="container-fluid pt-5">
        <!-- Start Breadcrumb section -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes">Pacientes</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Pacientes/Pacientes/Paciente">Paciente</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Médicos
                </li>
            </ol>
        </nav>
        <!-- End Breadcrumb section -->
        <!-- Start Content section -->
        <section>
            <!-- Start Title and form search section -->
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="title-section">Listado Médicos Habilitados</h1>
                <form class="row row-cols-lg-auto g-3">
                    <div class="col-auto">
                        <label class="visually-hidden" for="specificCriteriaType">Criterio</label>
                        <select class="form-select" name="criterio" id="specificCriteriaType">
                            <option selected>Choose...</option>
                            <option value="1">Identificación</option>
                            <option value="2">Nombres</option>
                            <option value="3">Especialidad</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="specificCriteria">Name</label>
                        <input type="text" class="form-control" id="specificCriteria" placeholder="Caracteres de búsqueda?"
                            name="filtroB" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="container pb-4">
                <h6>Asignar Médico para el Paciente: </h6>
                <form class="" method="post">
                    <fieldset class="row g-3 py-3">
                        <div class="col-lg-6">
                            
                            <input class="form-control" type="text" idPaciente="inputPaciente" readonly value="@ViewData["pacienteAAsignar"] ">
                        </div>
                    </fieldset> 
                </form>
            </div>


            <!-- End Title and form search section -->
            <!-- Start Table section -->
            <table class="table table-striped table-hover align-middle caption-top text-center">
                <thead>
                    <th>Identificacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Especialidad</th>
                    <th>Registro Rethus</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    @if (Model.Medicos == null)
                    {
                        <tr>
                            <td colspan="7" class="table-active">
                                <span><strong>No se encontraron datos de Médicos habilitados en el sistema</strong></span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var medico in Model.Medicos)
                        {
                            <tr>
                                <td>@medico.Identificacion</td>
                                <td>@medico.Nombres</td>
                                <td>@medico.Apellidos</td>
                                <td>@medico.Especialidad</td>
                                <td>@medico.RegistroRethus</td>
                                <td>
                                    <a title="Asignar" asp-area="" asp-route-id="@medico.Id" action="/update" method="put" type="submit">
                                        <i class="fa-solid fa-eye icon-view mx-1"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!-- End Table section -->
            <!-- Start Pagination table section -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- End Pagination table section -->
        </section>
        <!-- Start Content section -->
    </main>
    <!-- End Main section -->
</div>
<!-- End Ppal Sections -->

<!-- Start Modal-->
@if (@Model.EstaAsignadoMedico)
{  
  <partial name="_ModalView" for="ModalInfo" />
  @section ScriptModal{
    <partial name="_ModalViewScript" />
  }
}

@if (@Model.Mensaje != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span  aria-hidden="true">&times;</span>
        </button>
        @Model.Mensaje
    </div>
}
<!-- End Modal-->