@page "{idMedico:int}"
@model HospiEnCasa.App.Presentacion.Pages.Medicos.PacientesMedicoModel
@{
    ViewData["Title"] = "Pacientes por Medico";
}

<!-- Start Ppal Sections -->
<div class="d-flex flex-lg-row flex-column mt-5">
    <!-- Start Submenu vertical -->
    <aside class="col-lg-2 pt-5 ps-3 bg-light">
        <div class="container">
            <nav id="nav-second" class="navbar navbar-light bg-light">
                <ul class="nav flex-lg-column">
                    <li class="nav-item">
                        <a class="nav-link active disabled" aria-current="page" asp-area=""
                            asp-page="/Pacientes/Pacientes">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" asp-area="" asp-page="/Pacientes/NuevoPaciente">Registrar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- End Submenu vertical -->
    <!-- Start Main section -->
    <main class="container-fluid pt-5">
        <!-- Start Breadcrumb section -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Medicos/Medicos">Medicos</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-page="/Medicos/Medicos/Medico">Medico</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Pacientes Medico
                </li>
            </ol>
        </nav>
        <!-- End Breadcrumb section -->
        <!-- Start Content section -->
        <section>
            <!-- Start Title and form search section -->
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="title-section">Listado Pacientes Asignados</h1>
                <form class="row row-cols-lg-auto g-3">
                    <div class="col-auto">
                        <label class="visually-hidden" for="specificCriteriaType">Criterio</label>
                        <select class="form-select" name="criterio" id="specificCriteriaType">
                            <option selected>Choose...</option>
                            <option value="1">Identificación</option>
                            <option value="2">Nombres</option>
                            <option value="3">Teléfono</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="specificCriteria">Name</label>
                        <input type="text" class="form-control" id="specificCriteria" placeholder="Por identificación?"
                            name="filtroB" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
            <!-- End Title and form search section -->
            <!-- Start Table section -->
            <table class="table table-striped table-hover align-middle caption-top text-center">
                <thead>
                    <th>Identificacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Diagnostico</th>
                    <th>Accion</th>
                </thead>
                <tbody>

                    @if (Model.PacientesMedico == null)
                    {
                        <tr>
                            <td colspan="7" class="table-active">
                                <span><strong>No se encontraron datos de Pacientes asignados en el sistema</strong></span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var pacienteMedico in Model.PacientesMedico)
                        {
                            <tr>
                                <td>@pacienteMedico.Identificacion</td>
                                <td>@pacienteMedico.Nombres</td>
                                <td>@pacienteMedico.Apellidos</td>
                                <td>@pacienteMedico.NumeroTelefono</td>
                                <td>@pacienteMedico.Direccion</td>
                                <td>@pacienteMedico.Historia.Diagnostico</td>
                                <td>
                                    <a title="Ver" asp-area="" asp-page="/Pacientes/Paciente" asp-route-id="@pacienteMedico.Id">
                                        <i class="fa-solid fa-eye icon-view mx-1"></i>
                                    </a>
                                    <a title="Historia" asp-area="" asp-page="/Historias" asp-route-idPaciente="@pacienteMedico.Id">
                                        <i class="fa-solid fa-file-medical icon-signal mx-1"></i>
                                    </a>
                                    <a title="Signos" href="#">
                                        <i class="fa-solid fa-file-waveform icon-signal mx-1"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!-- End Table section -->
            <!-- Start Pagination table section -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- End Pagination table section -->
        </section>
        <!-- Start Content section -->
    </main>
    <!-- End Main section -->
</div>
<!-- End Ppal Sections -->
